@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sacramento&display=swap');

body {
    margin: 0;
    height: 100%;
    font-family: Founders Grotesk XCondensed, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: #FFFFFF;
}

.logo {
    max-width: 150px;
    width: 100%;
    height: 80px;
}

.container-body {
    width: 100%;
    overflow-x: hidden;
}

.welcome {
    width: 100%;
}

.text-welcome {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    padding-right: 10px;
    padding-left: 10px;
}

.avant {
    font-weight: 500;
    color: #c78d41;
    font-size: 2rem;
}

.avant1 {
    font-family: 'Oswald', sans-serif;
}

.photo-Avantis {
    max-width: 2500px;
    width: 100%;
}

.box-infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.about-us-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
}

.about-us-photo {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

h2 {
    font-size: 2rem;
}

.text-about-us {
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 926px) {
    .text-about-us {
        width: 100%;
    }
}

.service {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.box-service {
    max-width: 400px;
    background: #c59352;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.service-con {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
}

.box-why{
    max-width: 700px;
    text-align: center;
    background: #c59352;
    padding: 5px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 800;
}

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-right: 5px;
    padding-left: 5px;
}

.foot{
    background: #FFFFFF;
    padding: 30px;
    border-top: 2px solid #c59352;
}

.text-foot{
    font-weight: 700;
}

.mail,
.location,
.phone,
.schedule{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.link-mail-phone{
    text-decoration: none;
    color: black;
}